.container {
  width: 100%;
  background-color: var(--palet1);
  padding: 10px 0px;
  border-radius: 0 0 5px 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.todocon {
  background-color: var(--palet1);
  padding: 15px 10px;
  border-radius: 5px;
  margin: 10px 0;
  width: 80%;
  box-shadow: 0 0 10px -5px rgb(0, 0, 0,0.6);
  
}
.todocon h3{
  font-weight: 700;
  font-size: 18px;
  margin: 10px 0;
}

.span {
  width: 70%;
  height: 4px;
  margin: 2px 0 14px 0;
}
.trash{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon{
  cursor: pointer;
  font-size: 18px;
}
.backbtn ,.nextbtn{
  padding: 5px 10px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;

}
.backbtn{
  background-color: var(--backbtn);
}
.nextbtn{
  background-color: var(--nextbtn);
}